<a href="https://colab.research.google.com/github/dylankiczales15/practicerepo/blob/master/proj1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [129]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [180]:
from google.colab import drive
drive.mount("/drive")
x_train = pd.read_csv('/drive/My Drive/Colab Notebooks/proj1_data/x_train.csv')
x_test = pd.read_csv('/drive/My Drive/Colab Notebooks/proj1_data/x_test.csv')
y_train = pd.read_csv('/drive/My Drive/Colab Notebooks/proj1_data/y_train.csv')

x_train.head()

x_test.head()

y_train.head()

Mounted at /drive

   Sl. No.  Output
0        1     151
1        2      75
2        3     141
3        4     206
4        5     135

In [148]:
x_test

        Col 1     Col 2     Col 3  ...    Col 62    Col 63    Col 64
0   -0.103593  0.050680 -0.023451  ...  0.032834  0.036953  0.089870
1    0.016281  0.050680 -0.046085  ... -0.024970 -0.016392  0.016210
2   -0.060003  0.050680  0.054152  ...  0.006598 -0.014505 -0.016283
3   -0.027310 -0.044642 -0.035307  ...  0.011117  0.081978  0.107121
4    0.041708 -0.044642 -0.032073  ... -0.035928 -0.006977 -0.073581
..        ...       ...       ...  ...       ...       ...       ...
195  0.041708  0.050680  0.019662  ... -0.028760 -0.018925 -0.016378
196 -0.005515  0.050680 -0.015906  ... -0.039277  0.011449 -0.036804
197  0.041708  0.050680 -0.015906  ... -0.017085 -0.021932 -0.035222
198 -0.045472 -0.044642  0.039062  ... -0.004186 -0.032097 -0.043712
199 -0.045472 -0.044642 -0.073030  ... -0.023946 -0.020937 -0.021088

[200 rows x 64 columns]

In [149]:
def LinearRegressionModel(X, y):
    # Inputs:
    regr = LinearRegression()
    clf = regr.fit(X,y)   
    # IMPLEMENT THIS METHOD USING sklearn.linear_model.LinearRegression 
    return clf

In [150]:
y_train_new = y_train.drop(columns=['Sl. No.'])
y_train_new #train with this

y_droppedcol = y_train.drop(columns=['Output'])
y_droppedcol #use this later

     Sl. No.
0          1
1          2
2          3
3          4
4          5
..       ...
237      238
238      239
239      240
240      241
241      242

[242 rows x 1 columns]

In [158]:
first_model = LinearRegressionModel(x_train, y_train_new)
first_model_predict = first_model.predict(x_train)

first_model_predict #attach this to sl column

array([[207.71340365],
       [ 85.76021992],
       [173.48463758],
       [196.18578551],
       [104.80609624],
       [113.38429935],
       [ 64.34498341],
       [ 76.85887921],
       [119.14552382],
       [228.18209945],
       [105.04310279],
       [ 83.2362344 ],
       [ 96.96904137],
       [169.81670093],
       [ 96.27910704],
       [137.5970633 ],
       [183.73508993],
       [170.47825207],
       [151.24528731],
       [125.35219138],
       [136.21340126],
       [ 81.76063682],
       [152.40068056],
       [256.90849468],
       [162.6771028 ],
       [131.06746563],
       [ 94.04505632],
       [141.4036487 ],
       [122.34384773],
       [250.52943431],
       [160.49896804],
       [ 74.73874297],
       [322.57137771],
       [128.51023143],
       [ 79.08588309],
       [128.84614216],
       [197.34666568],
       [147.88223314],
       [250.32712832],
       [127.6488613 ],
       [133.40702855],
       [113.37798286],
       [119.6835198 ],
       [ 83.55840993],
       [217.87453107],
       [109.39802971],
       [161.49769836],
       [154.49896527],
       [ 60.38078482],
       [169.34423091],
       [135.4009633 ],
       [176.78643436],
       [126.80031472],
       [105.81096049],
       [124.87425308],
       [ 77.86415385],
       [214.44589926],
       [ 63.94072411],
       [133.67694319],
       [169.56446563],
       [ 69.59293352],
       [162.26381698],
       [ 45.34836499],
       [117.5830447 ],
       [103.63259075],
       [184.88915945],
       [133.8336695 ],
       [103.15396242],
       [105.50972703],
       [ 97.69843482],
       [ 80.62243258],
       [203.98137422],
       [210.42263373],
       [100.66858546],
       [176.39984197],
       [118.39853992],
       [152.01827025],
       [137.80806975],
       [182.48422973],
       [139.53306658],
       [169.46061459],
       [100.61061473],
       [ 75.19692273],
       [151.46391458],
       [ 70.35111835],
       [149.13101987],
       [ 68.73511087],
       [147.36296791],
       [ 55.13266009],
       [ 92.84736906],
       [ 59.48386218],
       [178.02090159],
       [155.40276384],
       [ 85.67769948],
       [101.48202874],
       [171.32393263],
       [227.18643927],
       [207.83939969],
       [136.45645965],
       [124.88197579],
       [174.08468984],
       [ 89.41665063],
       [178.49882706],
       [124.98935074],
       [142.1612639 ],
       [103.40841789],
       [129.65989557],
       [123.55960333],
       [232.41662985],
       [112.49055399],
       [106.80204048],
       [100.50638689],
       [168.35745613],
       [218.40728393],
       [216.75640458],
       [164.13051201],
       [247.12664728],
       [256.82170592],
       [145.16009794],
       [173.14144798],
       [149.43578363],
       [205.93742   ],
       [211.07405041],
       [121.47028088],
       [145.97075467],
       [169.17371671],
       [128.68517731],
       [124.93665948],
       [104.48779844],
       [257.7354424 ],
       [253.82672434],
       [143.13907509],
       [ 97.01665869],
       [ 32.00811357],
       [115.91451603],
       [268.79961079],
       [ 87.46166148],
       [245.37708191],
       [284.71608631],
       [249.9139293 ],
       [114.21363046],
       [324.77350536],
       [207.28010912],
       [ 91.28227445],
       [143.44717652],
       [244.53868292],
       [174.30899256],
       [233.23593746],
       [112.46152861],
       [140.14762937],
       [195.02361295],
       [127.27736991],
       [191.21947994],
       [ 66.80001016],
       [155.21397382],
       [230.97002268],
       [132.78918102],
       [108.41876173],
       [ 88.42391489],
       [234.80743731],
       [ 91.19732919],
       [238.909261  ],
       [127.0206535 ],
       [185.69356721],
       [160.66418188],
       [ 88.9430831 ],
       [ 58.09430082],
       [287.90102274],
       [244.75147012],
       [143.38976915],
       [ 60.06294899],
       [ 95.27706623],
       [248.88852865],
       [ 81.32352987],
       [140.42401354],
       [103.17972891],
       [161.35924826],
       [227.79344761],
       [ 79.75343513],
       [151.71940985],
       [163.35471538],
       [ 72.99675893],
       [136.24218141],
       [166.70869407],
       [212.57664218],
       [170.97334132],
       [160.90610016],
       [ 95.4832126 ],
       [114.80358748],
       [109.65528351],
       [210.73797365],
       [121.27146297],
       [ 89.45387881],
       [111.06080655],
       [141.56257004],
       [146.33454097],
       [ 95.74585085],
       [185.21957706],
       [168.51707219],
       [157.29022092],
       [ 74.31270395],
       [ 51.46157609],
       [184.89993822],
       [191.138463  ],
       [250.69644018],
       [196.35884367],
       [139.4138947 ],
       [230.77584789],
       [215.74689495],
       [158.44976703],
       [114.09495333],
       [151.07121305],
       [140.11167554],
       [ 83.11137243],
       [ 75.47938081],
       [312.38333305],
       [300.82956394],
       [211.48583805],
       [147.77340514],
       [154.07040136],
       [ 64.04999111],
       [152.09748938],
       [145.90464971],
       [138.39337159],
       [107.85329503],
       [224.1385288 ],
       [ 76.34560559],
       [119.86716698],
       [127.23006363],
       [ 89.47745792],
       [229.78032369],
       [147.21049676],
       [135.20291249],
       [105.95939081],
       [241.34347346],
       [184.84319562],
       [168.70516743],
       [ 72.93448467],
       [254.05922497],
       [206.04796153],
       [265.76044993],
       [ 99.77886852]])

In [159]:
#checking_preds = pd.DataFrame({'Actual': y_train_new, 'Predicted': first_model_predict})
first_predictions = pd.DataFrame(data=first_model_predict, columns=["predictions"])
first_predictions

     predictions
0     207.713404
1      85.760220
2     173.484638
3     196.185786
4     104.806096
..           ...
237    72.934485
238   254.059225
239   206.047962
240   265.760450
241    99.778869

[242 rows x 1 columns]

In [153]:
y_train_new

     Output
0       151
1        75
2       141
3       206
4       135
..      ...
237      72
238     257
239     262
240     275
241     177

[242 rows x 1 columns]

In [154]:
print('Mean Squared Error of Training:', metrics.mean_squared_error(y_train_new, first_model_predict))

Mean Squared Error of Training: 2187.160294930611

In [168]:
first_predictions
sample_sub = pd.concat([y_droppedcol, first_predictions], axis=1)

In [169]:
sample_sub

     Sl. No.  predictions
0          1   207.713404
1          2    85.760220
2          3   173.484638
3          4   196.185786
4          5   104.806096
..       ...          ...
237      238    72.934485
238      239   254.059225
239      240   206.047962
240      241   265.760450
241      242    99.778869

[242 rows x 2 columns]

In [191]:
from google.colab import drive
drive.mount('/drive')

Mounted at /drive

In [193]:
sample_sub.to_csv('/My Drive/sample_submission.csv')

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py", line 2882, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-193-9a0ea3572955>", line 1, in <module>
    sample_sub.to_csv('/My Drive/sample_submission.csv')
  File "/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py", line 3167, in to_csv
    formatter.save()
  File "/usr/local/lib/python3.6/dist-packages/pandas/io/formats/csvs.py", line 190, in save
    compression=dict(self.compression_args, method=self.compression),
  File "/usr/local/lib/python3.6/dist-packages/pandas/io/common.py", line 418, in get_handle
    from s3fs import S3File
  File "<frozen importlib._bootstrap>", line 971, in _find_and_load
  File "<frozen importlib._bootstrap>", line 951, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 894, in _find_spec
  File "<frozen importlib._bootstrap_external>", line 1157, in find_spec
  File "<frozen importlib._bootstrap_external>", line 1126, in _get_spec
  File "<frozen importlib._bootstrap_external>", line 1090, in _path_importer_cache
OSError: [Errno 107] Transport endpoint is not connected

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py", line 1823, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'OSError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/IPython/core/ultratb.py", line 1132, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/usr/local/lib/python3.6/dist-packages/IPython/core/ultratb.py", line 313, in wrapped
    return f(*args, **kwargs)
  File "/usr/local/lib/python3.6/dist-packages/IPython/core/ultratb.py", line 358, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/usr/lib/python3.6/inspect.py", line 1490, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/usr/lib/python3.6/inspect.py", line 1448, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/usr/lib/python3.6/inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/usr/lib/python3.6/inspect.py", line 725, in getmodule
    file = getabsfile(object, _filename)
  File "/usr/lib/python3.6/inspect.py", line 709, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/usr/lib/python3.6/posixpath.py", line 383, in abspath
    cwd = os.getcwd()
OSError: [Errno 107] Transport endpoint is not connected

OSError: ignored